/* PAGE BODY */
body {
    font-family:Arial, Helvetica, sans-serif;
}

/* NAVIGATION BAR */
.navlist{
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
.navitem {
    list-style:none;
    margin-right: 1rem;
}
.navitem a {
    text-decoration: none;
    color:black;
}
.navitem:first-child {
    margin-right:auto;
    font-family: Monsterrat;
    font-style: italic;
    font-size: x-large;
}

/* TOP HEADER - Header Title and Subtitle */
.header1 {
  text-align: center;
}
.header1 h1 {
  margin-top: 3rem;
  font-size: 2.5rem;
  line-height: 1.5;
  padding-left: 20rem;
  padding-right: 20rem;
}
.header1 p {
  top: 1rem;
  font-style: italic;
  font-size: 1rem;
}

/* SECTION 1 - Slideshow and Contact Form */
.section1 {
  display: flex;
}

/* SLIDESHOW */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Hide image */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -10rem;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 15rem;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Contact Form */
.contactform {
  flex-direction: column;
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: black solid 1px;
  border-radius: 1.5rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 15rem;
  background-color: rgb(240, 240, 240);
}
.contactform select, button {
  font-size: 1rem;
}
.contactform label, input, select {
  margin-bottom: 1rem;
  line-height: 2;
}
.contactform input, select {
  font-size: 1rem;
  height: 3rem;
  width: 25rem;
}

.section1 {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
}



/* Section 2 */
.section2a h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: none;
  height: 10rem;
  background-color: #f2f2f2;
  font-size: 3rem;
  color: black;
}
.list1 {
  list-style:none; 
  display: flex; 
  flex-direction:row;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 2rem;
  gap: 10rem;
}
.list2 {
  list-style:none; 
  display: flex; 
  flex-direction:row;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 2rem;
  gap: 10rem;
}
.list1 li {
  width:50%; 
  height:50%;
}
.list2 li {
  width:50%;
  height:50%;
}

/* Section 3 */
.section3 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 5rem;
}
.section3 h1{
  margin-top: 5rem;
}
.section3 p {
  margin-left: 7rem;
  margin-right: 7rem;
}
.section3 button {
  height: 3rem;
  width: 20rem;
  margin-bottom: 5rem;
}

/* Footer */
footer {
  text-align: center;
  margin-bottom: 5rem;
}